.collapsible-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

@media screen and (min-width: 750px) {
  .collapsible-section {
    flex-direction: row;
    align-items: flex-start;
  }
}

.collapsible__content {
  display: flex;
  margin-bottom: 0px 120px;
  flex-direction: column;
  gap: 1.5rem;
}

.collapsible__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  order: -1;
}

@media screen and (min-width: 750px) {
  .collapsible__image {
    order: 1;
  }
}

.collapsible__image img {
  border-radius: 12px;
  max-width: 100%;
  height: auto;
}

/* check for flexbox gap in older Safari versions
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse)
      .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 5rem;
      padding-right: 0;
    }
  }

  @media screen and (min-width: 990px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse)
      .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 7rem;
    }
  }
}
*/
