.collapsible-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.collapsible-content__image {
  max-width: 50%;
  border-radius: 12px;
  border: 7px solid var(--Text, #5e6069);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.collapsible-content__collapsible {
  flex-grow: 1;
}

@media screen and (max-width: 749px) {
  .collapsible-content {
    flex-direction: column;
    text-align: center;
  }

  .collapsible-content__image {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse)
      .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 5rem;
      padding-right: 0;
    }
  }

  @media screen and (min-width: 990px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse)
      .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 7rem;
    }
  }
}
