.collapsible-section-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem 0;
}
.collapsible__content {
  margin: 0 120px;
}
.grid__item .collapsible__image {
  border-radius: 12px;
  border: 7px solid var(--Text, #5e6069);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

@media screen and (min-width: 750px) {
  .collapsible-section-layout {
    padding: 7rem 0;
  }
}

.collapsible-section-layout .image-container {
  flex: 1 1 40%;
  max-width: 40%;
}

.collapsible-section-layout .collapsible-content {
  flex: 1 1 60%;
  max-width: 60%;
}

@media screen and (max-width: 749px) {
  .collapsible-section-layout {
    flex-direction: column;
  }

  .collapsible-section-layout .image-container,
  .collapsible-section-layout .collapsible-content {
    max-width: 100%;
    flex: 1 1 100%;
  }
  .collapsible__content {
    margin: 0 20px;
  }
}

/* Collapsible specific styles */
.collapsible-content .accordion {
  margin-bottom: 1.5rem;
}

.collapsible-content summary:hover {
  background: rgba(var(--color-foreground), 0.04);
}

.collapsible-content summary:hover .accordion__title {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

/* check for flexbox gap in older Safari versions
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse)
      .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 5rem;
      padding-right: 0;
    }
  }

  @media screen and (min-width: 990px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse)
      .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 7rem;
    }
  }
}
*/
