/*Mobile First */
.featured-logos-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #f7f9fd;
}

.featured-logos-section__title {
  font-weight: var(--font-heading-weight);
  color: #5e6069;
  margin-bottom: 20px;
}

/* Mobile: Carrusel con scroll horizontal */
.featured-logos {
  display: flex;
  overflow-x: scroll;
  gap: 8px;
  padding: 10px;
  margin-top: 1.5rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.featured-logos__item {
  min-width: 150px;
  flex-shrink: 0;
  scroll-snap-align: center;
  text-align: center;
}

.featured-logos__logo {
  width: 100px;
  height: auto;
  margin-bottom: 0.5rem;
}

.featured-logos__text {
  font-size: 1.5rem;
  color: #5e6069;
  max-width: 205px;
}

/* Desktop*/
@media screen and (min-width: 750px) {
  .featured-logos-section {
    margin: 0 60px;
  }
  .featured-logos__item {
    text-align: center;
  }
  .featured-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
  }

  .featured-logos-section__title {
    font-size: 5rem;
  }

  .featured-logos__logo {
    max-width: 150px;
  }

  .featured-logos__text {
    font-size: 1.5rem;
  }
}
