.collage-wrapper-title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 750px) {
  .collage-wrapper-title {
    font-size: 5rem;
  }
}
