@keyframes scrollTitle {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.pain-points-heading {
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: scrollTitle 10s linear infinite;
}

@media screen and (min-width: 750px) {
  .pain-points-heading {
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: scrollTitle 10s linear infinite;
  }
}
@media screen and (max-width: 749px) {
  .pain-points-heading {
    animation: none;
  }
}
